---
import { Calendar, Clock, Play } from "lucide-react";
import { formatDistanceToNow } from "@/lib/utils";
import type { Video } from "@/lib/types";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
} from "@/components/ui/card";

interface VideoCardHomeProps {
  video: Video;
}

const { video } = Astro.props as VideoCardHomeProps;
---

<Card className="overflow-hidden flex flex-col hover:shadow-lg transition-shadow group">
  <div class="relative aspect-video">
    <a
      href={`https://www.youtube.com/watch?v=${video.id}`}
      target="_blank"
      class="flex items-center justify-center"
    >
      <img
        src={video.thumbnail}
        alt={video.title}
        class="object-cover w-full"
        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
      />
      <Play
        className="absolute hidden group-hover:flex"
        stroke="red"
        fill="red"
        size={58}
      />
    </a>
  </div>
  <CardHeader className="pb-2">
    <a
      href={`https://www.youtube.com/watch?v=${video.id}`}
      target="_blank"
      class=""
    >
      <h3 class="text-lg font-semibold line-clamp-1">{video.title}</h3>
    </a>
  </CardHeader>
  <CardContent className="flex-grow">
    <p class="text-muted-foreground line-clamp-1">
      {video.description}
    </p>
  </CardContent>
  <CardFooter className="text-sm text-muted-foreground pt-2 border-t">
    <div class="flex justify-between w-full">
      <div class="flex items-center">
        <Calendar className="h-4 w-4 mr-1" />
        <span>{formatDistanceToNow(new Date(video.publishedAt))}</span>
      </div>
      {video.duration && (
        <div class="flex items-center">
          <Clock className="h-4 w-4 mr-1" />
          <span>{video.duration}</span>
        </div>
      )}
    </div>
  </CardFooter>
</Card>
