---
import "../styles/global.css";
import CTCLogo from "@/assets/logo/ctc-logo.webp";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import { removeLanguagePrefix } from "@/i18n/utils";
interface Props {
  title: string;
  description: string;
  ogImage?: string | undefined;
}

const { title, description, ogImage = CTCLogo.src } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const socialImageURL = new URL(ogImage ? ogImage : '@/assets/logo/ctc-logo.webp', Astro.url).href


const currentLocale = Astro.currentLocale || "en";

const pathWithoutLocale = removeLanguagePrefix(
  Astro.url.pathname,
  currentLocale as SupportedLanguage
);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href={`/favicons.svg`} />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />
<title>{title} | CTC - Cambodia Community Tech Center</title>
<meta
  name="title"
  content={`${title} | CTC - Cambodia Community Tech Center`}
/>
<meta name="description" content={description} />
<meta name="author" content="Community Tech Center" />
<meta
  name="keywords"
  content="CTC, Cambodia Community Tech Center, community technology, digital literacy, tech education, community tech Cambodia, tech education, community learning, khmer tech community, cambodia digital transformation, digital school, "
/>

{
  Object.values(languages).map((lang) => (
    <link
      rel="alternate"
      hreflang={lang}
      href={new URL(`/${lang}${pathWithoutLocale}`, Astro.site).href}
    />
  ))
}

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/kantumruypro.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/kantumruypro.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta
  property="og:title"
  content={`${title} | CTC - Cambodia Community Tech Center`}
/>
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />
<meta property="og:site_name" content="CTC - Cambodia Community Tech Center" />
<meta property="og:locale" content={Astro.currentLocale || "en"} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta
  property="twitter:title"
  content={`${title} | CTC - Cambodia Community Tech Center`}
/>
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />

<script is:inline type="application/ld+json">
{`{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "${title}",
  "url": "${Astro.site}",
  "logo": "https://ctc-dev.domnerka.com/_astro/ctc-logo-blue-subtitle.CbJiC6p6.webp",
    "sameAs": [
      "https://www.facebook.com/CTCCambodia",
      "https://twitter.com/CTCCambodia",
      "https://www.linkedin.com/company/ctc-cambodia"
    ],
  "description": "${description}",
  "address": {
      "@type": "PostalAddress",
      "addressLocality": "Phnom Penh",
      "addressCountry": "Cambodia"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+855-12345678",
      "contactType": "Community Tech Center Cambodia",
      "areaServed": "KH",
      "availableLanguage": "English"
    }
}`}
</script>