---
import VideoList from "@/components/video-youtube/VideoList.astro";
import { getAllVideos } from "@/lib/youtube";
import { ui, languages } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl } from "@/lib/i18n";
import { VIDEOS_PAGE_TITLE } from "@/consts";
import { cn } from "@/lib/utils";
import { styles } from "@/components/text-element/ElementStyle";

export const prerender = false;

const lang = getLangFromUrl(Astro.url);
const translations = ui[lang];

const videosByPlaylist = await getAllVideos(lang);
---

<Layout
  pageTitle={VIDEOS_PAGE_TITLE.title}
  description={VIDEOS_PAGE_TITLE.description}
  type="website"
>
  <div class="container py-12 space-y-12">
    <h1
      class={cn(styles.heading, "text-center text-primary")}
      data-aos="fade-up"
    >
      {translations["nav.news-media"]}
    </h1>
    <p
      class={cn(styles.body, "text-center max-w-8xl mx-auto")}
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {translations["videos.list.description"]}
    </p>
    {
      Object.entries(videosByPlaylist).length === 0 ? (
        <div class="text-center py-12">
          <h2 class="text-2xl font-semibold">No videos found</h2>
          <p class="text-muted-foreground mt-2">Please try again later.</p>
        </div>
      ) : (
        Object.entries(videosByPlaylist).map(([playlistTitle, videos]) => (
          <div class="space-y-6">
            <h2 class="text-2xl text-primary font-semibold border-b pb-2">
              {playlistTitle}
            </h2>
            <VideoList
              videos={videos}
              lang={lang}
              translations={translations}
              hideHeader={true}
            />
          </div>
        ))
      )
    }
  </div>
</Layout>
