---
import { Header } from "@/components/layout/Header";
import { SiteFooter } from "@/components/layout/Footer";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import CTCLogo from "@/assets/logo/ctc-logo.webp";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
import { getLangFromUrl, useTranslations } from "@/lib/i18n";
import { ui, defaultLang } from "@/i18n/ui";
import { getLocalizedRoutes, navigation } from "@/lib/route";

const lang = getLangFromUrl(Astro.url);

const translations = ui[lang];

const locale = Astro.currentLocale ?? defaultLang;
const navigationItems = getLocalizedRoutes(navigation, locale);
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={Astro.currentLocale || "en"}>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={CTCLogo.src}
    />
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Header
        translations={translations}
        lang={lang}
        navigationItems={navigationItems}
        currentPath={currentPath}
        client:load
      />
      <main class="flex-1">
        <slot />
      </main>
      <SiteFooter lang={lang} client:load />
    </div>
  </body>
</html>
