---
import { Header } from "@/components/layout/Header";
import { SiteFooter } from "@/components/layout/Footer";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import CTCLogo from "@/assets/logo/ctc-logo.webp";

interface Props {
  pageTitle: string;
  description: string;
  ogImage?: string;
  type?: "website" | "article";
  customCanonicalUrl?: string;
}
const { pageTitle, description, ogImage, type, customCanonicalUrl, ...props } =
  Astro.props;
const ImageURL = new URL(ogImage ? ogImage : CTCLogo.src, Astro.url).href;

import { getLangFromUrl } from "@/lib/i18n";
import { ui, defaultLang } from "@/i18n/ui";
import { getLocalizedRoutes, navigation } from "@/lib/route";

const lang = getLangFromUrl(Astro.url);

const translations = ui[lang];

const locale = Astro.currentLocale ?? defaultLang;
const navigationItems = getLocalizedRoutes(navigation, locale);
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={Astro.currentLocale || "en"}>
  <head>
    <BaseHead
      pageTitle={pageTitle || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      ogImage={ImageURL}
      type={type}
      customCanonicalUrl={customCanonicalUrl}
    />
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Header
        translations={translations}
        lang={lang}
        navigationItems={navigationItems}
        currentPath={currentPath}
        client:load
      />
      <main class="flex-1" {...props}>
        <slot />
      </main>
      <SiteFooter lang={lang} client:visible />
    </div>
  </body>
</html>
