---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import { BlogContent } from "@/components/blog/blog-content";
import { getLangFromUrl } from "@/lib/i18n";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => {
    const [lang, ...slug] = entry.slug.split("/");
    return {
      params: { lang, slug: slug.join("/") },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const lang = getLangFromUrl(Astro.url);

// type Props = CollectionEntry<"blog">;
---

<Layout title={`${entry.data.title} - BlogSpace`}>
  <main class="container py-12">
    <BlogContent
      title={entry.data.title}
      date={entry.data.date}
      author={entry.data.author}
      description={entry.data.description}
      image={entry.data.image}
      lang={lang}
      client:load
    >
      <Content />
    </BlogContent>
  </main>
</Layout>
